NODE_ENV=production
PORT=3000

# Sesión (cambiar por un string largo y aleatorio)
SESSION_SECRET=pega_un_string_largo_aleatorio_aqui

# Login simple
ADMIN_USER=vivero
ADMIN_PASS=cambia_esta_clave_por_una_fuerte

